body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;   
}

.logo {
    width: 500px;  
    height: auto;  
    margin-top: 5px;
    margin-bottom: 5px;
}


button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.rps-images {
    width: 100px;
    height: 100px;
    transition: transform 0.2s;
}

.rps-images:hover {
    transform: scale(1.15);
}

#blue-neon {
    font-size: 20px;
    padding: 12px 30px;
    color: #00ff41;
    background: #111;
    border: 2px solid #00ff41;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;

    box-shadow: 0 0 10px #00ff41,
                inset 0 0 10px #00ff41;
    transition: 0.3s;
}

#blue-neon:hover {
    color: #111;
    background: #00ff41;
    box-shadow: 0 0 20px #00ff41,
                inset 0 0 20px #00ff41;
    transform: scale(1.05);
}
/* class='js-stop-auto-play' */

#autoplay_button_container {
    margin-top: 15px;
}

.js-game-status,
.js-gameinfo,
.js-scoreboard {
    font-size: 20px;
    margin-top: 15px;
    color: #00ff41;
}
.rps-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.main-menu {
    background-color: #111;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* logo levo a linkove desno*/
}
.main-menu li {
    margin-right: 15px;
}
.nav-logo {
    width: 70px;
    height:auto;
}
.main-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.main-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}

.main-menu a:hover {
    color: #00ff41;
}
.home-page-button {
    cursor: pointer;
}

section {
    margin-top: 50px;
    padding: 20px;
}

section h4 {
    color: #00ff41;
    font-size: 48px;
    text-shadow: 0 0 10px #00ff41;
    margin: 0;
}